<html>
  <head>
    <meta charset="UTF-8">
    <style>
      @font-face {
        font-family: 'default';
        src: url(data:font/truetype;charset=uft-8;base64,<%= font %>) format('truetype');
      }
      body {
        font-family: 'default';
      }
      <%= css %>
    </style>
  </head>
  <body class="language-none markdown-body">
    <%= toc %>
    <%= content %>
    <script type="text/javascript">
      <%= js %>
    </script>
  </body>
</html>
